.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f1e3e3;
  }
  
  .login-box {
    background: linear-gradient(to left,#f69699,rgb(250, 200, 200));
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    max-width: 400px;
    width: 100%;
  }
  
  .login-box h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
  }
  
  .input-group {
    margin-bottom: 15px;
    text-align: left;
  }
  
  .input-group label {
    display: block;
    font-size: 14px;
    color: #555;
    margin-bottom: 5px;
  }
  
  .input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .login-btn {
    background: #ff5a5f;
    color: white;
    border: none;
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .login-btn:hover {
    background: #e60023;
  }
  
  .signup-link {
    margin-top: 10px;
    font-size: 14px;
  }
  
  .signup-link a {
    color: #ff5a5f;
    text-decoration: none;
  }
  
  .signup-link a:hover {
    text-decoration: underline;
  }
  