body{
    font-family: 'poppins';
    background: linear-gradient(to left,#f69699,rgb(250, 200, 200));
}
.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
}
@media (max-width: 900px) {
    body{
        background-color: #ffffff;
    }
}